.file-list {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    gap: 10px
}

.file-item {
    background-color: #131313;
    color: white;
    padding: 10px 15px;
    border-radius: 1px;
    position: relative;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    width: 35%;
}

.file-item:hover {
    background-color: #1a1a1a;
    
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-btn:hover {
    background-color: #5a5a5a
    opacity($color: #000000)
}

.add-btn {
    background-color: rgba(46, 46, 49, 1);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #535359
}

.comment-box {
    background-color: #2e2e30;
    color: white;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    
}

.comment-box::placeholder {
    color:#888;
}

.submit-btn {
    background-color: #419dff;
    color: black;
    font-weight: bold;
    font-family: Arial;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #8ac3ff;
}