.container-fluid {
    padding-bottom: 2rem;
  }

a {
  color: rgba(255, 255, 255, 0.788);
  font-size: 1.25em;
}

.navbar {
    display: block;
    background-color:rgb(16, 16, 19);
    box-shadow: 0 1px 20px rgba(7, 7, 7, 0.1); // thin light shadow
  

}

:host {
  display: block;
    border-bottom: 1px solid #444;
}

// make nav items turn the cursor to a pointer when hovered over
 .navbar-nav .nav-link:hover {
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgba(46, 46, 49, 0.2); // 0.9 opaque background
  backdrop-filter: blur(20px); // strong blur effect
  -webkit-backdrop-filter: blur(20px); // strong blur effect for WebKit browsers

  color: white;
  font-size: 1.2rem;
  border: 1px solid #37373b;
  border-radius: 15px;
  box-shadow: 0 2px 10px 5px rgba(15, 15, 15, 0.3);
  padding: 10px;
  
}

.dropdown-item {
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.dropdown-item:hover {
  background-color: #727272;
  color: white;
}